.elementor-809 .elementor-element.elementor-element-f31789c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-809 .elementor-element.elementor-element-307e9f8>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-809 .elementor-element.elementor-element-307e9f8.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-809 .elementor-element.elementor-element-307e9f8 {
    --e-icon-list-icon-size: 24px;
    --icon-vertical-offset: 0px;
}

.elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-item>a {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-text {
    color: #222222;
    transition: color 0.3s;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:1366px) {
    .elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-809 .elementor-element.elementor-element-307e9f8 .elementor-icon-list-item>a {
        font-size: 14px;
    }
}